html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 240px;
}

.robot {
  width: 320px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.robot-body {
  width: 320px;
  position: absolute;
  bottom: 0;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.robot-head-right,
.robot-head-left {
  position: absolute;
  top: 18px;
  width: 125px;
}

.robot-head-right {
  left: 50%;
}

.robot-head-left {
  right: 50%;
}

.robot:hover :nth-child(2) {
  top: 40px;
}

.robot:hover :nth-child(3) {
  top: 5px;
  right: 0;
  left: auto;
}

.robot:hover :nth-child(4) {
  top: 5px;
  left: 0;
  right: auto;
}
